include header
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" href="styles/style.css")
        title Blog
    body
        .section.blog
            .blog-nav
                .container
                    .grid.space-between Blog Mansory
                        ul.grid
                            li
                                a(href="#") Home
                            li
                                a(href="#") Blog Mansory
            .container.grid
                .grid.column.grid__item_size1-3
                    .blog-menu-title    Search
                    input(type="text" placeholder="search keywords" class="search")
                    .blog-menu-title    Categories
                    ul  
                        li Design
                        li Lifestyle
                        li Music
                        li Outdoors
                        li Showcase
                        li Travel
                    .blog-menu-title    Recent blog post
                    .post-container
                        .box-post.grid
                            .grid.column
                                .box-post-img 
                                    img(src="img/bmw_logo.png", alt="bmw_logo")
                            .grid.column
                                .box-post-title A Guide to New York
                                .box-post-date  MAY 19, 2016
                        .box-post.grid
                            .grid.column
                                .box-post-img 
                                    img(src="img/bmw_logo.png", alt="bmw_logo")
                            .grid.column
                                .box-post-title Have a Good Time
                                .box-post-date  MAY 19, 2016
                        .box-post.grid
                            .grid.column
                                .box-post-img 
                                    img(src="img/bmw_logo.png", alt="bmw_logo")
                            .grid.column
                                .box-post-title Where and What to Shop
                                .box-post-date  MAY 19, 2016
                        .box-post.grid
                            .grid.column
                                .box-post-img 
                                    img(src="img/bmw_logo.png", alt="bmw_logo")
                            .grid.column
                                .box-post-title Get Creative Outdoor
                                .box-post-date  MAY 19, 2016
                    .blog-menu-title    Instagram
                    .box-photo.grid
                        .grid.column
                            img(src="img/merin.png", alt="merin")
                            img(src="img/merin.png", alt="merin")
                        .grid.column
                            img(src="img/merin.png", alt="merin")
                            img(src="img/merin.png", alt="merin")
                    .blog-menu-title    Popular tags
                    .grid.link-box  
                        span    ART     
                        span    ARTIST     
                        span    COLOUR     
                        span    DESIGN
                        span    FREEDOM     
                        span    FUN     
                        span    GRAPHIC     
                        span    IDEA
                        span    INSPIRATION     
                        span    MEDIA     
                        span    MODERN
                        span    NIGHTLIFE     
                        span    STREET     
                        span    STYLE     
                        span    VISION
                        span    WEB
                .grid__item_size2-3
                    .grid
                        .grid__item_size1-2.order_1
                            img(src="img/banner2.jpg", alt="banner")
                        .grid__item_size1-2.order_2
                            .blog-content
                                .blog-content-date     Posted 25 jul 2016 by Tsujasa cJ - Outdoors
                                .blog-content-title Have a Good Time
                                .blog-content-description   Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet, venenatis vitae justo. Nullam dictum felis eu pede.
                    .grid
                        .grid__item_size1-2.order_4
                            .blog-content
                                .blog-content-date     Posted 25 jul 2016 by Tsujasa cJ - Outdoors
                                .blog-content-title Have a Good Time
                                .blog-content-description   Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet, venenatis vitae justo. Nullam dictum felis eu pede.
                        .grid__item_size1-2.order_3
                            img(src="img/banner2.jpg", alt="banner")
                    .grid
                        .grid__item_size1-2.order_5
                            img(src="img/banner2.jpg", alt="banner")
                        .grid__item_size1-2.order_6
                            .blog-content
                                .blog-content-date     Posted 25 jul 2016 by Tsujasa cJ - Outdoors
                                .blog-content-title Have a Good Time
                                .blog-content-description   Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet, venenatis vitae justo. Nullam dictum felis eu pede.
                    .grid
                        .grid__item_size1-2.order_8
                            .blog-content
                                .blog-content-date     Posted 25 jul 2016 by Tsujasa cJ - Outdoors
                                .blog-content-title Have a Good Time
                                .blog-content-description   Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet, venenatis vitae justo. Nullam dictum felis eu pede.
                        .grid__item_size1-2.order_7
                            img(src="img/banner2.jpg", alt="banner")        

include footer
