.section.top
  .container
    .row.row-nav
      .col-12.col-sm-2.page Blog Mansory
      .col-12.col-sm-10.navigation
        ul
          li
            a(href='#') Home
          li.navigation-active Blog Mansory