doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
  body
    .section.clients.animated.fadeInLeft
      .container
        .client-says__heading
          | WHAT 
          br
          |  CLIENT SAYS
        .clients__content.grid.align-center.space-between.padding_small_hor
          .clients__comments.grid__item_size1-2
            .client__text
              | "Vestibulum varius, velit sit amet tempor efficitur, ligula mi lvacinia libero, et vehicula dui nisi eget purus. posuere id lorem ac, interdum egestas neque. Morbi pharetra felis mauri"
            .client__name
              | JONT NICOLIN KOOK
            .clients-images.grid.start
              .client-img
              .client-img
              .client-img
          .clients-logos.grid.align-center.space-between.grid__item_size1-2
            .client-logo.logo-treat
            .client-logo.logo-crab
            .client-logo.logo-bicycle
            .client-logo.logo-handmade
            .client-logo.logo-hunt
            .client-logo.logo-SH
    script(src='js/index.js')