.footer
  .footer_info
    .container
      .row.about
        .col-12.col-sm-6.col-xl-3
          .footer_info__title About Auto
          p.footer_info__disc.footer_info__disc-italic
            | he Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the
        .col-12.col-sm-6.col-xl-3
          .gallery
            .footer_info__title Photo gallery
            a.gallery_photo(href='#')
              img(src='./img/car-galery.jpg', alt='Photo gallery')
            a.gallery__photo(href='#')
              img(src='./img/car-galery.jpg', alt='Photo gallery')
            a.gallery__photo(href='#')
              img(src='./img/car-galery.jpg', alt='Photo gallery')
            a.gallery__photo(href='#')
              img(src='./img/car-galery.jpg', alt='Photo gallery')
        .col-12.col-sm-6.col-xl-3
          .latest
            .footer_info__title LATEST BLOG POSTS
            p.footer_info__disc.footer_info__disc-italic chunks as necessary, making this the first true generator on the Internet...
            span.footer_info__disc.footer_info__disc-link Read more
        .col-12.col-sm-6.col-xl-3
          .social
            .footer_info__title SOCIAL NETWORK
            a.social__photo(href='#') <i class="fa fa-facebook" aria-hidden="true"></i>
            a.social__photo(href='#') <i class="fa fa-twitter" aria-hidden="true"></i>
            a.social__photo(href='#') <i class="fa fa-instagram" aria-hidden="true"></i>
            a.social__photo.social__photo-active(href='#') <i class="fa fa-youtube-play" aria-hidden="true"></i>
      .row.row-bott
        .col-12.col-sm-6.col-xl-3
          .get
            .footer_info__title Get in contact
            .GET__address.grid.align-items-center
              .fan <i class="fa fa-map-marker" aria-hidden="true"></i>
              .footer_info__disc 9228 Jacobson Trafficway Apt. 666 california. USA
            .GET__tel.grid.align-items-center
              .fan <i class="fa fa-mobile" aria-hidden="true"></i>
              .footer_info__disc (+84) 72424 53252
            .GET__email.grid.align-items-center
              .fan <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
              .footer_info__disc (+84) 72424 53252
            .get__link.footer_info__disc
              a(href='#') Find Us On Map
        .col-12.col-sm-6.col-xl-3
          .SALES
            .footer_info__title SALES HOURS
            .footer_info__disc.footer_info__disc-days
              | Monday - Friday: 
              snan.footer_info__disc 09:00AM - 09:00PM
            .footer_info__disc.footer_info__disc-days
              | Saturday: 
              snan.footer_info__disc 09:00AM - 07:00PM
            .footer_info__disc.footer_info__disc-days
              | Sunday: 
              snan.footer_info__disc Closed
            .footer_info__title.footer_info__title-act SUBSCRIBE 
            .footer_info__disc.footer_info__disc-days Get latest updates and offers.
        .col-12.col-sm-12.col-xl-6
          .row.row-serv
            .col-12.col-sm-6.col-xl-6
              .SERVICE
                .footer_info__title SERVICE HOURS
                .footer_info__disc.footer_info__disc-days
                  | Monday - Friday: 
                  snan.footer_info__disc 09:00AM - 09:00PM
                .footer_info__disc.footer_info__disc-days
                  | Saturday: 
                  snan.footer_info__disc 09:00AM - 07:00PM
                .footer_info__disc.footer_info__disc-days
                  | Sunday: 
                  snan.footer_info__disc Closed
            .col-12.col-sm-6.col-xl-6
              .PARTSHOURS
                .footer_info__title PART SHOURS
                .footer_info__disc.footer_info__disc-days
                  | Monday - Friday: 
                  snan.footer_info__disc 09:00AM - 09:00PM
                .footer_info__disc.footer_info__disc-days
                  | Saturday: 
                  snan.footer_info__disc 09:00AM - 07:00PM
                .footer_info__disc.footer_info__disc-days
                  | Sunday: 
                  snan.footer_info__disc Closed
          .row.search
            form(action='#')
            input.poisk(type='text', placeholder='Enter your email.....')
            input.btnSearch(type='submit', value='Send')
  .footer_copyrights
    .container
      .row
        .col-12.col-sm-5.copyrights
          .copyrights__title
            | Copyrights 
            span © 2016 
            | ALL Right Reserved by 
            span Auto
        .col-12.col-sm-7
          .menu
            ul
              li
                a.MENU__link.menu__link-active(href='#') Home
              li
                a.MENU__link(href='#') Inventory
              li
                a.MENU__link(href='#')  services
              li
                a.MENU__link(href='#') Pages 
              li
                a.MENU__link(href='#') blog
              li
                a.MENU__link(href='#') shop 
              li
                a.MENU__link(href='#') contact