section.auto-search.slider.grid.align-center.space-between.padding_large_vert.animated.fadeInLeft
  .slider-nav_left <
  .container.container-auto-search.grid.space-between.padding_small_hor
    .auto-search__content
      .auto-search__heading
        | BMW X6 SERIES 2018
      .auto-search__price
        | $567/MO
      .auto-search__text
        | WHEN AN UNKNOWN PRINTER TOOK A GALLEY OF TYPE AND SCRAMBLED IT TO MAKE A TYPE SPECIMEN BOOK. IT HAS SURVIVED NOT ONLY FIVE CENTURIES
      button.button_learn-more Learn more
    .auto-search__form
    form.homepage__form
      .form__heading SEARCH INVENTORY
      select.form__select
        option Select Body
        option(value='Sedan') Sedan
      select.form__select
        option Select Make
      select.form__select
        option Select Year
      button.button_search SEARCH
      .form__details
        | Have a Questions? Call today! 
        span.main-color (+84) 55566778
  .slider-nav_right >
section.padding_large_vert
  .container.our-car
    .our-car__heading
      hr.hr_grey
      hr.hr_red(color='#df3636')
      |  OUR CAR 
      hr.hr_red(color='#df3636')
      hr.hr_grey
    .our-car__subheading WELCOME TO AUTO CAR
    .our-car__new-cars NEW CARS
    .our-car__user-car USER CAR
    .our-car__catalogue.grid.space-between
      .our-car__catalogue__item
        .catalogue__item_img
        .catalogue__item_price.grid
          .item_price $45.000
          .item_triangle
        .catalogue__item_description
          | BMW X6, NAVI, LEATHER, ABS
          | 45/65 
          span(style='font-family:fontello; padding-right:15px') 
          |  Automatic 
          i.fas.fa-car
      .our-car__catalogue__item
        .catalogue__item_img
        .catalogue__item_price.grid
          .item_price $45.000
          .item_triangle
        .catalogue__item_description
          | BMW X6, NAVI, LEATHER, ABS
          | 45/65 
          span(style='font-family:fontello; padding-right:15px') 
          |   Automatic 
          i.fas.fa-car
      .our-car__catalogue__item
        .catalogue__item_img
        .catalogue__item_price.grid
          .item_price $45.000
          .item_triangle
        .catalogue__item_description
          | BMW X6, NAVI, LEATHER, ABS
          | 45/65 
          span(style='font-family:fontello; padding-right:15px') 
          |    Automatic 
          i.fas.fa-car
      .our-car__catalogue__item
        .catalogue__item_img
        .catalogue__item_price.grid
          .item_price $45.000
          .item_triangle
        .catalogue__item_description
          | BMW X6, NAVI, LEATHER, ABS
          | 45/65 
          span(style='font-family:fontello; padding-right:15px') 
          |   Automatic 
          i.fas.fa-car
      .our-car__catalogue__item
        .catalogue__item_img
        .catalogue__item_price.grid
          .item_price $45.000
          .item_triangle
        .catalogue__item_description
          | BMW X6, NAVI, LEATHER, ABS
          | 45/65 
          span(style='font-family:fontello; padding-right:15px') 
          |  Automatic 
          i.fas.fa-car
      .our-car__catalogue__item
        .catalogue__item_img
        .catalogue__item_price.grid
          .item_price $45.000
          .item_triangle
        .catalogue__item_description
          | BMW X6, NAVI, LEATHER, ABS
          | 45/65 
          span(style='font-family:fontello; padding-right:15px') 
          |   Automatic 
          i.fas.fa-car
      .our-car__catalogue__item
        .catalogue__item_img
        .catalogue__item_price.grid
          .item_price $45.000
          .item_triangle
        .catalogue__item_description
          | BMW X6, NAVI, LEATHER, ABS
          | 45/65 
          span(style='font-family:fontello; padding-right:15px') 
          |   Automatic 
          i.fas.fa-car
      .our-car__catalogue__item
        .catalogue__item_img
        .catalogue__item_price.grid
          .item_price $45.000
          .item_triangle
        .catalogue__item_description
          | BMW X6, NAVI, LEATHER, ABS
          | 45/65 
          span(style='font-family:fontello; padding-right:15px') 
          |   Automatic 
          i.fas.fa-car
    button.button_view-all View all
// SPECIALS
section.specials.padding_large_vert
  .specials__heading
    hr.hr_grey
    hr.hr_red(color='#df3636')
    |  SPECIALS 
    hr.hr_red(color='#df3636')
    hr.hr_grey
  .specials__subheading WELCOME TO AUTO CAR
  .specials__slider.grid
    .specials__slider__item.specials__slider__item_grey
      .slider__item__description
        .slider__item__description_bigfont BMW X6 SERIES 2017
        .slider__item__description_mediumfont
          | AVAILABLE FOR 
          span.yellow-color LIMITED TIME
      .slider__item__details.grid
        .slider__item__details_percent  1.8 
        div(style='line-height: 1.6; padding-right:1rem')
          | %
          br
          | APR
    .specials__slider__item.specials__slider__item_black
      .slider__item__description
        .slider__item__description_bigfont BMW X6 SERIES 2017
        .slider__item__description_mediumfont
          span.main-color $567
          | /MO
    .specials__slider__item.specials__slider__item_grey
      .slider__item__description
        .slider__item__description_bigfont BMW I8 SERIES
        .slider__item__description_mediumfont
          | AVAILABLE FOR 
          span.yellow-color LIMITED TIME
          br
          span.yellow-color.slider__item__description_bigfont 3.6 % APR
      .slider__item__details.grid
        .slider__item__details_percent  24 
        div(style='line-height: 1.6; padding-right:1rem')
          | M O N T H
          br
          span(style='font-size:23px') AN APPROVED CREDIT
    .specials__slider__item.specials__slider__item_black.grid
      .slider__item__description
        .slider__item__description_bigfont BMW X1 SERIES 2017
        .slider__item__description_mediumfont
          span.main-color $567
          | /MO
  .specials__slider_nav.grid.space-between
    .specials__slider_prev <
    .specials__slider__indicator
    .specials__slider__indicator
    .specials__slider__indicator
    .specials__slider_next >
// buy-sell
section.buy-sell-car.padding_large_vert
  .container.buy-sell-container.grid.space-between
    .buy-sell-car__item.buy-car.grid
      .buy-sell-car__picture
        .buy-sell-car__icon(style='font-family: fontello') 
        .buy-sell-car__img
      .buy-sell-car__content
        .buy-sell-car__heading
          | ARE YOU LOOKING FOR A CAR?
        .buy-sell-car__text
          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
    .buy-sell-car__item.sell-car.grid
      .buy-sell-car__picture
        .buy-sell-car__icon $
        .buy-sell-car__img
      .buy-sell-car__content
        .buy-sell-car__heading
          | DO YOU WANT TO SELL A CAR?
        .buy-sell-car__text
          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
.section.why-choose-us
  .container.space-around.padding_small_hor.align-center.center
    .why-choose-us__heading
      hr.hr_grey
      hr.hr_red(color='#df3636')
      |  WHY CHOOSE US 
      hr.hr_red(color='#df3636')
      hr.hr_grey
    .why-choose-us__subheading
      | WELCOME TO AUTO CAR
    .why-choose-us__content.grid.align-center.center
      .why-choose-us__item.item-finances
        .why-us__item__icon
        .why-us__item__heading
          | FINANCING MADE EASY
        .why-us__item__text
          | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      .why-choose-us__item.item-brands
        .why-us__item__icon
        .why-us__item__heading
          | FINANCING MADE EASY
        .why-us__item__text
          | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      .why-choose-us__item.item-trust
        .why-us__item__icon
        .why-us__item__heading
          | FINANCING MADE EASY
        .why-us__item__text
          | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      .why-choose-us__item.item-service
        .why-us__item__icon
        .why-us__item__heading
          | FINANCING MADE EASY
        .why-us__item__text
          | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
// ABOUT US
section.our-team.padding_large_vert
  .container
    .our-team__heading
      hr.hr_grey
      hr.hr_red(color='#df3636')
      |  OUR TEAM 
      hr.hr_red(color='#df3636')
      hr.hr_grey
    .our-team__subheading
      | WELCOME TO AUTO CAR
    .our-team__members.grid
      .team-member
        .team-member__photo
        .team-member__socials.socials_fb 
        .team-member__socials.socials_g 
        .team-member__socials.socials_tw 
        .team-member__socials.socials_inst 
        .team-member__name Jack Sparrow
        .team-member__position.main-color Captain
      .team-member
        .team-member__photo
        .team-member__socials.socials_fb 
        .team-member__socials.socials_g 
        .team-member__socials.socials_tw 
        .team-member__socials.socials_inst 
        .team-member__name Jack Sparrow
        .team-member__position.main-color Captain
      .team-member
        .team-member__photo
        .team-member__socials.socials_fb 
        .team-member__socials.socials_g 
        .team-member__socials.socials_tw 
        .team-member__socials.socials_inst 
        .team-member__name Jack Sparrow
        .team-member__position.main-color Captain

