<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" href="styles/style.css")
        script(src="js/main.js" type="text/javascript")
        title Offer
    body
        #offer
            .offer-box
                .offer__title   OFFER PRICE
                .offer__application CHOICE YOUR CAR, BELARUSSIAN, MINSK
            .offer-form
                .grid.row.space-between
                    .grid.column
                        .offer-form__title   Name
                        input(type="text")
                    .grid.column
                        .offer-form__title   Email
                        input(type="text")
                .grid.row.space-between
                    .grid.column
                        .offer-form__title   Phone
                        input(type="text")
                    .grid.column
                        .offer-form__title   Trade price
                        input(type="text")
            input(type="button", value="REQUEST")