include header
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" href="styles/style.css")
        title Service
    body
        .section
            .service
                .container.service-nav  
                    .grid.space-between Service
                        ul.grid
                            li
                                a(href="#") Home
                            li
                                a(href="#") Service
            .container.service-data
                .grid.row
                    .column.service-center.grid__item_size1-2
                        img(src="img/servicecenter.jpg", alt="servicecenter")
                    .column.about-service-center.grid__item_size1-2.grid.align-center
                        .service-data__title    About Service Center
                        .about-service-center__description  All this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth praising pain was born account of the system.
                .grid.row
                    .column.service-include.grid__item_size1-2.grid.align-center
                        .service-data__title    OUR SERVICES INCLUDE
                        .grid.row
                                ul
                                    li  General Automotive Repair
                                    li  Preventative Car Maintenance
                                    li  Air Conditioning and Heater Service
                                    li  Cooling System and Radiator Repair
                                    li  Synthetic Motor Oil Replacement
                                ul
                                    li  Oil Filter Replacement
                                    li  Brake Repair
                                    li  Engine Diagnostic
                                    li  Belts, Hoses, Fluids
                                    li  Transmission Services
                    .column.service-auto.grid__item_size1-2
                        img(src="img/avtoservice2.jpg", alt="avtoservice")
include footer