.section.top
  .container
    .row.row-nav
      .col-12.col-sm-2.page Inventory
      .col-12.col-sm-10.navigation
        ul
          li
            a(href='#') Home
          li
            a(href='#') Inventory
          li.navigation-active Gird standard style 1
